<div ng-controller="ArCtrl">
    <a-scene id="sceneAR" screenshotar always-fullscreen="platform:all; debug:false" arjs='debugUIEnabled: false; sourceType: webcam; detectionMode: mono_matrix; maxDetectionRate: 30;'>
        <a-marker-camera mouse-cursor preset='custom' type='pattern' url='{{patterDir}}'>
                <a-entity id="monkey" scale="0.4 0.4 0.4" position='0 0 0' obj-model="obj:url({{objectUrl}}); mtl:url({{mtlUrl}})">
                        <a-animation attribute="rotation" begin="click" dur="500" fill="backwards" to="30 30 360"></a-animation>
                </a-entity>
                <a-cursor visible="false"></a-cursor>
        </a-marker-camera>
    </a-scene>

    <input ng-click="leftFunction()" id="left" type="button" class="btn buttonLeft"></input>
    <input ng-click="topFunction()" id="top" type="button" class="btn buttonTop"></input>
    <input ng-click="rightFunction()" id="right" type="button" class="btn buttonRight"></input>
    <input ng-click="downFunction()" id="down" type="button" class="btn buttonDown"></input>
    <input ng-click="rotateFunction()" id="rotate" type="button" class="btn buttonRotate"></input>

    <input id="check" ng-model="valueCheck" type="checkbox">
    <p class="rotarText">Rotar verticalmente</p>
</div>